[submodule "anyproc"]
	path = anyproc
	url = https://gitlab.com/niansa/anyproc.git
[submodule "libjustlm"]
	path = libjustlm
	url = https://gitlab.com/niansa/libjustlm.git
[submodule "cosched"]
	path = cosched
	url = https://gitlab.com/niansa/cosched.git
